#azountyseats-popup-content(style="width:300px;")
	h3.popup-title=name
	.description-container!= description
	if mediadescription
		.media-container
			.media-content
				img(src= media, style="width:300px; height"+":"+ imgheight +";")
				.media-description= mediadescription
		