#azhistoricline-popup-content(style="width:300px;")
	h3.popup-title=name
	h3.display-date=displaydate
	.description-container!= description
	.media-container
		.media-content
			img(src= media, style="width:300px; height"+":"+ imgheight +";")
			.media-description= mediadesc