#popup-content
	h3#popup-title= displaydate
	#description-container!= description
	if mediadescription
		#media-container
			#media-content
				img(src= media)
				#media-description= mediadescription